# Pycache
__pycache__/*
tests/__pycache__
twidgets/__pycache__/*
twidgets/config/__pycache__
twidgets/config/py_widgets/__pycache__
twidgets/core/__pycache__/*
twidgets/widgets/__pycache__/*
.idea/*


# Venv
.venv.nosync
.venv_py312.nosync

# macOS-specific files
.DS_Store

# Build files
dist/
twidgets.egg-info/
publish-guide.txt

# Secret files
# twidgets/config/secrets.env
# twidgets/config/widgets/todo_save_file.txt
